# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

gym-project/src/main/resources/application.properties
gym-project/src/main/resources/application.yml
# Gradle files
.gradle/
# Node.js dependencies
gym-project-frontend/node_modules/
